.bucket {
  background-color: rgb(245, 245, 245) !important;
  padding: 16px;
}

.bucket_recalculated {
  background-color: #FFF3E0 !important;
  padding: 16px;
}

.sampleCard {
  min-width: 240px;
}
